

#body {
    margin-top: 8px;
    width: 100%;
    /* height: 100vh; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background-image: linear-gradient(45deg, #8B5CF6, #EC4899); */
    font-family: 'Montserrat', sans-serif;
  }
  
  /* * {
    box-sizing: border-box;
  } */
  
  .carousel {
    position: relative;
    width: 21rem;
    height: 23rem;
    perspective: 500px;
    transform-style: preserve-3d;
  }
  
  .card-container {
    /* background-color: aqua; */ 
    position: absolute;
    text-align: center;
    align-items: center;
     left: 3px;
    right: 3px; 
    width: 100%;
    height: 100%;
    transform: 
      rotateY(calc(var(--offset) * 50deg)) 
      scaleY(calc(1 + var(--abs-offset) * -0.4))
      translateZ(calc(var(--abs-offset) * -30rem))
      translateX(calc(var(--direction) * -5rem));
    filter: blur(calc(var(--abs-offset) * 1rem));
    /* transition: all 0.3s ease-out; */
  }
  
  .card-carousel2{
    width: 100%;
    width: 20rem;
    border-radius: 2rem;
    /* background-color: hsl(280deg, 40%, calc(100% - var(--abs-offset) * 20%));
    background-color: white;
    border-radius: 1rem;
    color: #5a5c5f;
    text-align: center; */
  }
    
  
  
  .nav { 
    color: white;
    font-size: 4rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30%;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    background: unset;
    border: unset;
    
  
  }
  .nav.left {
    left: 0;
    transform: translate(-50%, -50%);
    color: #626569;
  }
  
  .nav.right {
    right: 0;
    transform: translate(50%, -50%);
    color: #626569;
  }
  @media (max-width: 890px){
  .nav.left {
    display: none;
    left: 35px;
    transform: translate(-50%, -50%);
    color: #626569;
  }
  
  .nav.right {
    display: none;

    right: -18px;
    transform: translate(50%, -50%);
    color: #626569;
  }

}
/*@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {*/
  /* Style goes here */

/*}*/


/* @media not all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {*/

/*      .nav.left {*/
/*    left: 35px;*/
/*    transform: translate(-50%, -50%);*/
/*    color: #626569;*/
/*  }*/
  
/*  .nav.right {*/
/*    right:-18px;*/
/*    transform: translate(50%, -50%);*/
/*    color: #626569;*/
/*  }*/
/*}*/
