.footer1{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(97, 94, 94, 0.5);
      
} 
.footer1 input{
    display: none;
}

.footer1 label{
    font-size: 40px;
	height: 20px;
	display: inline-grid;
	color: #e6f4ec;
	margin-top: 10px;
	
}
#input-clicked{
    
    
  
        /*background-color: rgba(239, 230, 230, 0.5);*/
        
}
#input-clicked label{
    color: black;
}

label:hover {
	color: #ffc107;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff;
}

input:checked + label {
	color: #ffc107;
}



