#titlestyle{
    font-family: georgia;
    font-size: 2rem;
    font-weight: bold;
}
#textstyle{
    font-size: 1.2rem;
    width: max-content;/* Important , do not delete it */
    
}
footer{
    position: fixed;
    font-family: georgia;
    width: 100%;
    text-align: center;
    font-weight: bold;
    bottom:0;
    
}
footer p {
    padding-top: 10px;
}