.capitalized {
	text-transform: uppercase;
  }
.mt-150{
	margin-top:150px;
}
.mt-130{
	margin-top:130px;
}
.mb-150{
	margin-bottom:150px ;
}  

#lbtn {
    position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#lbtn button{
	top: 0;
	left: 0;
	width: 100px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	text-decoration: none;
}


#searchbtn{
	box-shadow: inset 0px 0px 10px 0px rgba(0.4, 0, 0, 0.4);
	border-radius: 20px;
	/*margin-top: 40px;*/
}
#searchbtn button{
	justify-content: center;
	align-items: center;
	border-radius: 30px;
}
.warp-text {
  color: white;
  font-size: 30px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  /*box-shadow: inset 0 0 0 3px white;*/
}
#searchinput{
	width:50%;
	
}
@media only screen and (max-width: 450px) {
	#searchinput{
		width: 75%;
		
	}
	#btns{
		width: 100%;
	}
}

/*#back-img{*/
/*	background-image: url('');*/
/*	margin-top: 30px;*/
/*}*/
