.register-image{
    width: 120px;
  height: 120px;
  border-radius: 50%;

}
.image--cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;

  object-fit: cover;
  object-position: center right;
}