
#MDBCollaps{
  position: relative; 
  

}
.form1 {
    margin: auto;
    width: 300px;
    height: auto;
    margin-top: 30px;
    /*padding: 20px;*/
    border-radius: 15px;
    
}
.form1 input{
  width: 280px;
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif;
  /*padding: 10px 15px;*/
  /* margin: 5px auto 10px auto; */
  /*display: block;*/
  font-size: 18px;
  font-weight: 300;
}
#dropdownLanguage{
  /*width: 250px;*/
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 300;
}

.form1 #rgbtn {
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    /*transition: .5s;*/
    letter-spacing: 4px;
  }
  
  .form1 #rgbtn:hover {
    background: #ffc107;
    color: #fff;
    border-radius: 5px;
  }
  
  .form1 #rgbtn span {
    position: absolute;
    display: block;
  }
  
  .form1 #rgbtn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 1s linear infinite;
  }@keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .form1 #rgbtn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .form1 #rgbtn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .form1 #rgbtn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  .dropdown {
    border: none;
  }
  #definitionarea{
    border-radius: 10px;
  }
  .select-input{
     width: 280px;
     color: black;
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 5px auto 10px auto;
  display: block;
  font-size: 18px;
  font-weight: 300;
  }
  #loginpage{
    margin-top: 150px;
    /*border: red solid;*/
    z-index: 99999;
  }

  #icon-unclicked{
    display: inline-block;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: slategray;
    color: white;
    text-align: center;
    line-height: 50px;
    /* border-radius: 50%; */
   
  }
  

  
.scroll{
  /*border: red solid;*/
  height: 180px;
  overflow-y: scroll;
    
}
#scroll-style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#scroll-style::-webkit-scrollbar
{
 	width: 10px; 
	background-color: #F5F5F5;
}

#scroll-style::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
/* #reg-dropdown{
  margin-left: -20px
}   */
  

.button {
  z-index: 99;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background-color: #e4e9eb;
  cursor: pointer;
}

.button:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.button-clicked+ .button-outline {
  width: 100%;
}

.button-outline {
  position: absolute;
  width: 75%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  border: 7px solid #798084;
  transform: translate(-50%, -50%);
  transition: all 0.25s cubic-bezier(.7, .11, .32, 2);
}

.button-outline:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  /* font-size: 96px; */
  font-family: "Open Sans", sans-serif;
  /* color: white; */
}

.button-container {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 80px;
}

.button-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* @media (min-width:700px){
#newconcept-inputs-page  textarea{
width: 400px;
}
} */