  #comp-img2{
    position: relative;
    width: 200px;
   }

  #image2{
    
    width: 194px;
    height: 194px;
    border-radius: 50%;
    background-color: black;
    text-align: right;
    
  }
  #img-icon2{
    position: absolute;
    font-size: 250%;
    bottom: 12px;
    right: 10px;
    border-radius: 10px;
  }