
  /* yahia */
  #comp-img2{
    position: relative;
    width: 200px;
   }

  #image2{
    
    width: 194px;
    height: 194px;
    border-radius: 50%;
    background-size:cover;
    
  }
  #img-icon2-bg{
    margin: 10px;
    background-color: rgb(242, 234, 234);
    border-radius:50% ;
    padding: 12px;
  }
  #fileInput{
    font-size: x-small;
    display: none;
    
  }
  #img-icon2{
    position: absolute;
    font-size: 180%;
    bottom: 0px;
    right: -8px;
    
    
  }