#profilePageImage{
  width: 200px;
  height: 200px;
  border-radius: 2%;
  background-size: cover;
}

/* .light-background:hover{
  background-color: #fafafa;
  box-shadow: 0 0 2rem #babbbc;
  animation: show-profile 0.75s forwards
} */