
@media only screen and (min-width: 800px) {
	#formsearch{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #formSearch-item
    {
       width: 65%;
       text-align: center;  
    }
    #parent{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #child{
        width: 65%;
    }
    
}

/*#formsearch{*/
/*    border: red solid;*/
/*}*/