

#wrapper2 {
    height: 10px;
    padding-left: 70px;
    transition: all .4s ease 0s;
      margin-top: 80px;
  }
  
  #sidebar-wrapper2 {
    margin-left: -150px;
    left: 70px;
    width: 150px;
    /* background: rgb(94, 90, 83); */
    position: fixed;
    height: 100%;
    z-index: -5;
    transition: all .4s ease 0s;
  }
  
  .sidebar-nav2 {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #page-content-wrapper2 {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
  }
  #wrapper2.active {
    padding-left: 150px;
  }
  #wrapper2.active #sidebar-wrapper2 {
    left: 150px;
  }
  
  #page-content-wrapper2 {
  width: 100%;
  }
  
  #sidebar_menu2 li a, .sidebar-nav2 li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 150px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
  }
  .sidebar_name2 {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
  }
  
  .sidebar-nav2 li {
  line-height: 40px;
  text-indent: 20px;
  }
  
  .sidebar-nav2 li a {
  color: #999999;
  display: block;
  text-decoration: none;
  }
  
  .sidebar-nav2 li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
  }
  
  .sidebar-nav2 li a:active,
  .sidebar-nav2 li a:focus {
  text-decoration: none;
  }
  
  .sidebar-nav2 > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
  }
  
  .sidebar-nav2 > .sidebar-brand2 a {
  color: #999999;
  }
  
  .sidebar-nav2 > .sidebar-brand2 a:hover {
  color: #fff;
  background: none;
  }
  
  #main_icon2
  {
    float:right;
   padding-right: 35px;
   padding-top:20px;
  }
  .sub_icon2
  {
    float:right;
   padding-right: 35px;
   /* padding-top:10px; */
  }
  .content-header2 {
  height: 65px;
  line-height: 65px;
  }
  
  .content-header2 h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
  }
  
  @media (max-width:767px) {
    #wrapper2 {
    padding-left: 70px;
    transition: all .4s ease 0s;
  }
  #sidebar-wrapper2 {
    left: 70px;
  }
  #wrapper2.active {
    padding-left: 150px;
  }
  #wrapper2.active #sidebar-wrapper2 {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
  }
  }
  