/* .scrollRL{
  max-height: 120px;
  border: 1px solid black;
  display: flex;
  overflow-x: scroll;
}
.scrollRL::-webkit-scrollbar{
  overflow: hidden;
}
.scrollRL .scrollRL-item{
  height: 100px;
  line-height: 110px;
  text-align: center;
  background-color: antiquewhite;
} */
/*  */
#carouselExample{
  height: 300px;
}
#home-flages3{
  font-size: 35px; 
width:35px;
height: 35px;
border-radius: 50%;
}